<!-- messagebox -->
<div id="dialog-message" title="Message" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert"
            style="float: left; margin: 0 7px 1em 0;"></span> <span
            class="title"></span>
    </p>
    <p class="code-entry" style="margin: 0.5em 0;">
        <span class="label i18n">{msg.code}:</span> <span class="code"></span>
    </p>
    <p class="message-entry" style="margin: 0.5em 0;">
        <span class="label i18n">{msg.message}:</span> <span
            class="message"></span>
    </p>
    <p class="instruction-entry" style="margin-top: 2em;">
        <span class="instruction"></span>
    </p>
</div>